<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
<!--        <mapper resource="mapper/AlertLogMapper.xml"/>-->
<!--        <mapper resource="mapper/OperationLogMapper.xml"/>-->
<!--        <mapper resource="mapper/PartitionExpressionMapper.xml"/>-->
<!--        <mapper resource="mapper/QualityRulesMapper.xml"/>-->
<!--        <mapper resource="mapper/QualityRuleTemplateMapper.xml"/>-->
<!--        <mapper resource="mapper/QualityTableMapper.xml"/>-->
<!--        <mapper resource="mapper/QualityTaskMapper.xml"/>-->
<!--        <mapper resource="mapper/TaskResultMapper.xml"/>-->
    </mappers>
</configuration>